@font-face {
  font-family: Roboto;
  src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../font/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../font/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../font/roboto/Roboto-Bold.ttf");
}

.root {
    -primary: #1a237e;
    -primary_light: #534bae;
    -primary_dark: #000051;
    -text_on_primary: #fff;
    -primary_text: #aaa;
    -secondary: #304ffe;
    -secondary_light: #7a7cff;
    -secondary_dark: #0026ca;
    -secondary_text: #fff;
    -fx-background-color: white;
}

.button{
	-fx-font-family: "Roboto Medium";
	-fx-font-color: -text_on_primary;
	-fx-font-size: 14.0;
	-fx-background-color: #fff8;
	-fx-margin: 4px;
}

.serverList {
    -fx-background-color: -primary_dark;
    -fx-font-color: -text_on_primary;
}

.serverButton {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-image: url('/images/batch/aspose-001.png');
    -fx-background-size:40px 40px;
    -fx-background-position:4 4;
    -fx-background-repeat:no-repeat;

}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


.channelList {
    -fx-background-color: -primary;
    -fx-font-color: -text_on_primary;
}

.chatPane {
    -fx-background-color: white;
}

.dialogHeader {
    -fx-background-color: -primary
}

.dialogHeader .text {

    -fx-font-family: "Roboto Medium";
    	-fx-font-color: -text_on_primary;
    	-fx-font-size: 42.0;
    	-fx-margin: 4px;
}

.formBody {
    -fx-alignment: top ;
    -fx-padding: 10px;
    -fx-spacing: 20px;

}

.formBody .formHeader {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 18.0;
    -fx-margin: 4px;
    -fx-text-alignment: center;
    -fx-origin: baseline;

}

.formBody .formField {
    -jfx-label-float: 'true'
}